<div >
    <form class="lang">
      <label class="w-[72px] h-[72px] flex items-center justify-center bg-grey-900/50 backdrop-blur-sm rounded-[200px] mx-auto md:mx-0 ">
        <select id="lang-selector" class=" cursor-pointer text-base bg-transparent grid items-center align-middle p-light h-10 w-10 text-center  hover:bg-green-200 active:bg-green-400 hover:text-black rounded-full duration-300">
          <option value="EN">EN</option>
          <option value="PL">PL</option>
        </select>
      </label>
    </form>
  </div>
