##
description = "Default layout"
==
function onStart()
{
    $this->addCss('assets/css/accordion.css');
}
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/head/head-meta' %}
        <title>October CMS - {{ this.page.meta_title ?: placeholder('pageTitle') }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        {% partial 'site/head/head-links' %}
        {% partial 'site/head/head-scripts' %}

        {% partial 'site/head/analytics-code' %}
        <meta name="turbo-visit-control" content="reload" />
    </head>
    <body >
        <div id="backgroundCanvas"></div>
        <canvas id="gradient-canvas" data-transition-in ></canvas>
        {% partial 'site/header/header' %}

          {% partial 'sections/hero.htm' %}
          {% partial 'sections/carrier.htm' %}
          {% partial 'sections/steps-small.htm' %}

          {% partial 'sections/stack.htm' %}
          {% partial 'sections/women-car.htm' %}
          {% partial 'sections/about.htm' %}
          {% partial 'sections/opinions.htm' %}
            {% partial 'sections/blog-roll.htm' %}

          {% partial 'sections/offer.htm' %}
          {% partial 'sections/help.htm' %}
          {% partial 'sections/start.htm' %}
          {% partial 'sections/register-cta.htm' %}
          {% partial 'sections/social.htm' %}
          {% partial 'sections/faq.htm' %}
          {% partial 'site/footer.htm' %}
    </body>
</html>
