<section class="py-[72px]">
    <div class="container">
        <div class="bg-grey-200 rounded-[40px] py-10 px-8 lg:py-[90px] lg:px-[80px]">
            <div class="lg:flex lg:gap-6">
                <div class="text-black max-w-[631px] lg:pr-14">
                    <h2 class="mb-10">O YALLACARS</h2>
                    <h3 class="mb-6">Lorem ipsum dolor sit amet consectetur. Tincidunt.</h3>
                    <p class="big mb-5">Lorem ipsum dolor sit amet consectetur. Pulvinar lorem faucibus gravida faucibus
                        augue. Risus in tellus sed mauris. Lorem ipsum dolor sit amet consectetur. Pulvinar lorem
                        faucibus gravida faucibus augue. Risus in tellus sed mauris.Lorem ipsum dolor sit amet
                        consectetur. Pulvinar lorem faucibus gravida faucibus augue. Risus in tellus sed mauris.Lorem
                        ipsum dolor sit amet consectetur. Pulvinar lorem faucibus gravida faucibus augue. Risus in
                        tellus sed mauris.
                    </p>
                    {% partial 'utils/button.htm' version="tertiary" type="link" classes="" noArrow="true" body %}
                    Dowiedz się więcej
                    {% endpartial %}
                </div>
                <div class="max-w-[475px] ">
                    <img src="{{'assets/images/about_car.jpeg'|theme}}" class="rounded-[40px] w-full h-full object-cover"/>
                </div>
            </div>
        </div>
    </div>
</section>
