<section class="pt-[52px]">
    <div class="container">
        <div class="max-w-[768px] mx-auto">
            <h1 class="text-center mb-4">
                Rent, drive, <span class="font-semibold text-green-300">enjoy!</span>
            </h1>
            <p class="big text-center mb-6">Rozpocznij karierę kierowcy taksówki lub dostawcy i nie martw się o
                formalności. Wskakuj za kółko, ciesz się jazdą i zarabiaj - my zadbamy o resztę!</p>
            {% partial 'utils/button.htm' version="primary" type="link" classes="mx-auto" body %}
            Zarejestruj się
            {% endpartial %}
        </div>
        <div class="pt-[72px]">
            <img src="{{'assets/images/hero-car.jpeg' | theme}}" class="rounded-[40px] w-full object-fill" />
        </div>
    </div>
</section>
