<section class="my-[72px]">
    <div class="container">
      <a href="/">
      <div class="bg-green-300 rounded-[40px] p-8 lg:p-16 text-black flex flex-wrap justify-center gap-8 lg:gap-0 items-center cursor-pointer group">
        <div class="max-w-[800px]">
          <h2 class="lg:text-[64px] font-semibold lg:leading-[70px]">
            Zarejestruj się i ruszaj w trasę już dziś!
          </h2>
          <h3>Jesteśmy tu żeby Ci pomóc! Skontaktuj się z nami</h3>
        </div>
        <div class="w-24 h-24 lg:w-32 lg:h-32 rounded-full flex justify-center items-center  bg-white lg:group-hover:translate-x-full duration-500 ease-in-out">
          <svg width="55" height="56" viewBox="0 0 55 56" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_626_473)">
              <path d="M53.1309 27.9316L1.73438 27.9316" stroke="#BEBEBF" stroke-width="2.28571" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M25.7305 53.0777L52.343 29.6514C52.5863 29.4369 52.781 29.1731 52.9145 28.8776C53.0479 28.582 53.1169 28.2614 53.1169 27.9371C53.1169 27.6128 53.0479 27.2923 52.9145 26.9967C52.781 26.7011 52.5863 26.4373 52.343 26.2228L25.7305 2.79199" stroke="#BEBEBF" stroke-width="2.28571" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
              <clipPath id="clip0_626_473">
              <rect width="54.8571" height="54.8571" fill="white" transform="translate(0.00292969 0.503906)"/>
              </clipPath>
              </defs>
              </svg>

        </div>
      </div>
      </a>
    </div>
  </section>
