<section class="py-[72px]">
    <div class="container relative">
        <div class=" lg:grid lg:grid-cols-2 max-w-[1128px] mx-auto">
            <div class="max-w-[474px] ">
                <img src="{{'assets/images/women_car_1.png'|theme}}" class="rounded-[32px] sticky top-[82px]"/>
            </div>
            <div class="rounded-[40px] bg-grey-300 py-10 px-8 lg:py-16 lg:px-12 mt-10 lg:mt-[130px]">
                <h2 class="mb-4">YALLACARS <span class="font-semibold text-green-400">WOMEN</span></h2>
                <h3 class="mb-4">Dołącz do rosnącej liczby kobiet, które zmieniają oblicze branży transportowej i zarabiaj na swoich zasadach. </h3>
                <p class="big mb-8">Oferujemy wsparcie, elastyczne warunki pracy i pomoc w formalnościach, abyś mogła skoncentrować się na rozwijaniu swojej kariery. Rozpocznij pracę jako kierowczyni taksówki lub dostawczyni i ciesz się jazdą!</p>
                {% partial 'utils/button.htm' version="primary" type="link" classes="" body %}
        Dowiedz się więcej
        {% endpartial %}
            </div>
        </div>
    </div>
</section>
